form(method="get" action="." class="b-search-form b-press-search__form s-autocompl-form")
	fieldset
		input(type="text" class="b-search-input b-press-search__input s-autocompl-input" value="" placeholder="Поиск по пресс-центру" autocomplete="off" data-prfurl="json/autocomplete_prefetch_example.json?ver=2" data-remurl="json/autocomplete_remote_example.json?anyName1=anyVal1&anyNameNNN=anyValNNN&q=%QUERY")
		input(type="button" class="b-press-search__button icon-lense_black")
