div.b-search-results__filter
	ul.b-search-filter__items.clearfix
		li.current
			a.link-gray-medium(href="")
				span.text Все категории
				span.num 1 854
		li
			a.link-gray-medium(href="")
				span.text Новости
				span.num 132
		li
			a.link-gray-medium(href="")
				span.text Статьи
				span.num 16
		li
			a.link-gray-medium(href="")
				span.text Фото
				span.num 32
		li
			a.link-gray-medium(href="")
				span.text Документы
				span.num 0
		li.pull-right
			label
				input(type="checkbox" name="portals" value="1" class="custom")
				span.text  Искать на других порталах правительства Москвы
				span.num 181 245
