.icon-advisor-health { background-image: url('png/advisor-health.png'); background-repeat: no-repeat; }

.icon-ag_ramka { background-image: url('png/ag_ramka.png'); background-repeat: no-repeat; }

.icon-ag_white { background-image: url('png/ag_white.png'); background-repeat: no-repeat; }

.icon-ag_white_ramka { background-image: url('png/ag_white_ramka.png'); background-repeat: no-repeat; }

.icon-ag_white_services { background-image: url('png/ag_white_services.png'); background-repeat: no-repeat; }

.icon-amail_black { background-image: url('png/amail_black.png'); background-repeat: no-repeat; }

.icon-amail_red { background-image: url('png/amail_red.png'); background-repeat: no-repeat; }

.icon-apple { background-image: url('png/apple.png'); background-repeat: no-repeat; }

.icon-arror_right_04_black { background-image: url('png/arror_right_04_black.png'); background-repeat: no-repeat; }

.icon-arrow-down { background-image: url('png/arrow-down.png'); background-repeat: no-repeat; }

.icon-arrow_down_01_black { background-image: url('png/arrow_down_01_black.png'); background-repeat: no-repeat; }

.icon-arrow_down_01_gray { background-image: url('png/arrow_down_01_gray.png'); background-repeat: no-repeat; }

.icon-arrow_down_01_white { background-image: url('png/arrow_down_01_white.png'); background-repeat: no-repeat; }

.icon-arrow_down_03_black { background-image: url('png/arrow_down_03_black.png'); background-repeat: no-repeat; }

.icon-arrow_down_03_blue { background-image: url('png/arrow_down_03_blue.png'); background-repeat: no-repeat; }

.icon-arrow_down_03_white { background-image: url('png/arrow_down_03_white.png'); background-repeat: no-repeat; }

.icon-arrow_down_04_black { background-image: url('png/arrow_down_04_black.png'); background-repeat: no-repeat; }

.icon-arrow_down_04_blue { background-image: url('png/arrow_down_04_blue.png'); background-repeat: no-repeat; }

.icon-arrow_down_04_grey { background-image: url('png/arrow_down_04_grey.png'); background-repeat: no-repeat; }

.icon-arrow_down_04_grey_lite { background-image: url('png/arrow_down_04_grey_lite.png'); background-repeat: no-repeat; }

.icon-arrow_left_01_black { background-image: url('png/arrow_left_01_black.png'); background-repeat: no-repeat; }

.icon-arrow_left_01_gray { background-image: url('png/arrow_left_01_gray.png'); background-repeat: no-repeat; }

.icon-arrow_left_01_white { background-image: url('png/arrow_left_01_white.png'); background-repeat: no-repeat; }

.icon-arrow_left_02_black { background-image: url('png/arrow_left_02_black.png'); background-repeat: no-repeat; }

.icon-arrow_left_02_gray-dark { background-image: url('png/arrow_left_02_gray-dark.png'); background-repeat: no-repeat; }

.icon-arrow_left_03_black { background-image: url('png/arrow_left_03_black.png'); background-repeat: no-repeat; }

.icon-arrow_left_03_grey { background-image: url('png/arrow_left_03_grey.png'); background-repeat: no-repeat; }

.icon-arrow_left_03_white { background-image: url('png/arrow_left_03_white.png'); background-repeat: no-repeat; }

.icon-arrow_right_01_black { background-image: url('png/arrow_right_01_black.png'); background-repeat: no-repeat; }

.icon-arrow_right_01_blue { background-image: url('png/arrow_right_01_blue.png'); background-repeat: no-repeat; }

.icon-arrow_right_01_green { background-image: url('png/arrow_right_01_green.png'); background-repeat: no-repeat; }

.icon-arrow_right_01_green_hover { background-image: url('png/arrow_right_01_green_hover.png'); background-repeat: no-repeat; }

.icon-arrow_right_01_white { background-image: url('png/arrow_right_01_white.png'); background-repeat: no-repeat; }

.icon-arrow_right_02_black { background-image: url('png/arrow_right_02_black.png'); background-repeat: no-repeat; }

.icon-arrow_right_02_blue { background-image: url('png/arrow_right_02_blue.png'); background-repeat: no-repeat; }

.icon-arrow_right_02_gray-dark { background-image: url('png/arrow_right_02_gray-dark.png'); background-repeat: no-repeat; }

.icon-arrow_right_02_white { background-image: url('png/arrow_right_02_white.png'); background-repeat: no-repeat; }

.icon-arrow_right_03_black { background-image: url('png/arrow_right_03_black.png'); background-repeat: no-repeat; }

.icon-arrow_right_03_blue { background-image: url('png/arrow_right_03_blue.png'); background-repeat: no-repeat; }

.icon-arrow_right_03_grey { background-image: url('png/arrow_right_03_grey.png'); background-repeat: no-repeat; }

.icon-arrow_right_03_white { background-image: url('png/arrow_right_03_white.png'); background-repeat: no-repeat; }

.icon-arrow_right_04_blue { background-image: url('png/arrow_right_04_blue.png'); background-repeat: no-repeat; }

.icon-arrow_right_04_white { background-image: url('png/arrow_right_04_white.png'); background-repeat: no-repeat; }

.icon-arrow_right_05_black { background-image: url('png/arrow_right_05_black.png'); background-repeat: no-repeat; }

.icon-arrow_right_06_white { background-image: url('png/arrow_right_06_white.png'); background-repeat: no-repeat; }

.icon-arrow_right_white { background-image: url('png/arrow_right_white.png'); background-repeat: no-repeat; }

.icon-arrow_up_01_black { background-image: url('png/arrow_up_01_black.png'); background-repeat: no-repeat; }

.icon-arrow_up_01_gray { background-image: url('png/arrow_up_01_gray.png'); background-repeat: no-repeat; }

.icon-arrow_up_01_green { background-image: url('png/arrow_up_01_green.png'); background-repeat: no-repeat; }

.icon-arrow_up_01_red { background-image: url('png/arrow_up_01_red.png'); background-repeat: no-repeat; }

.icon-arrow_up_01_white { background-image: url('png/arrow_up_01_white.png'); background-repeat: no-repeat; }

.icon-arrow_up_02_black { background-image: url('png/arrow_up_02_black.png'); background-repeat: no-repeat; }

.icon-arrow_up_03_gray { background-image: url('png/arrow_up_03_gray.png'); background-repeat: no-repeat; }

.icon-auth_sign_in_black { background-image: url('png/auth_sign_in_black.png'); background-repeat: no-repeat; }

.icon-auth_sign_in_white { background-image: url('png/auth_sign_in_white.png'); background-repeat: no-repeat; }

.icon-blank-01 { background-image: url('png/blank-01.png'); background-repeat: no-repeat; }

.icon-blur_filter { background-image: url('png/blur_filter.png'); background-repeat: no-repeat; }

.icon-box { background-image: url('png/box.png'); background-repeat: no-repeat; }

.icon-building-01-white { background-image: url('png/building-01-white.png'); background-repeat: no-repeat; }

.icon-butt_arrow_next_02_white { background-image: url('png/butt_arrow_next_02_white.png'); background-repeat: no-repeat; }

.icon-butt_arrow_next_white { background-image: url('png/butt_arrow_next_white.png'); background-repeat: no-repeat; }

.icon-butt_arrow_prev_02_white { background-image: url('png/butt_arrow_prev_02_white.png'); background-repeat: no-repeat; }

.icon-butt_arrow_prev_white { background-image: url('png/butt_arrow_prev_white.png'); background-repeat: no-repeat; }

.icon-butt_download { background-image: url('png/butt_download.png'); background-repeat: no-repeat; }

.icon-butt_infograph_black { background-image: url('png/butt_infograph_black.png'); background-repeat: no-repeat; }

.icon-butt_infograph_white { background-image: url('png/butt_infograph_white.png'); background-repeat: no-repeat; }

.icon-butt_menu_black { background-image: url('png/butt_menu_black.png'); background-repeat: no-repeat; }

.icon-butt_menu_white { background-image: url('png/butt_menu_white.png'); background-repeat: no-repeat; }

.icon-butt_video_black { background-image: url('png/butt_video_black.png'); background-repeat: no-repeat; }

.icon-butt_video_white { background-image: url('png/butt_video_white.png'); background-repeat: no-repeat; }

.icon-butt_video_white_round { background-image: url('png/butt_video_white_round.png'); background-repeat: no-repeat; }

.icon-calendar-01_white { background-image: url('png/calendar-01_white.png'); background-repeat: no-repeat; }

.icon-calendar-02_black { background-image: url('png/calendar-02_black.png'); background-repeat: no-repeat; }

.icon-calendar-gray { background-image: url('png/calendar-gray.png'); background-repeat: no-repeat; }

.icon-calendar_grey { background-image: url('png/calendar_grey.png'); background-repeat: no-repeat; }

.icon-callback_gray { background-image: url('png/callback_gray.png'); background-repeat: no-repeat; }

.icon-camera-black { background-image: url('png/camera-black.png'); background-repeat: no-repeat; }

.icon-camera-white-red { background-image: url('png/camera-white-red.png'); background-repeat: no-repeat; }

.icon-camera { background-image: url('png/camera.png'); background-repeat: no-repeat; }

.icon-camera_white { background-image: url('png/camera_white.png'); background-repeat: no-repeat; }

.icon-city_portal-white { background-image: url('png/city_portal-white.png'); background-repeat: no-repeat; }

.icon-classmates_white { background-image: url('png/classmates_white.png'); background-repeat: no-repeat; }

.icon-clock-01-black { background-image: url('png/clock-01-black.png'); background-repeat: no-repeat; }

.icon-close_black { background-image: url('png/close_black.png'); background-repeat: no-repeat; }

.icon-close_red { background-image: url('png/close_red.png'); background-repeat: no-repeat; }

.icon-close_white { background-image: url('png/close_white.png'); background-repeat: no-repeat; }

.icon-coat_of_arms_large { background-image: url('png/coat_of_arms_large.png'); background-repeat: no-repeat; }

.icon-comp { background-image: url('png/comp.png'); background-repeat: no-repeat; }

.icon-complaints_white { background-image: url('png/complaints_white.png'); background-repeat: no-repeat; }

.icon-complaints_white_text { background-image: url('png/complaints_white_text.png'); background-repeat: no-repeat; }

.icon-computer { background-image: url('png/computer.png'); background-repeat: no-repeat; }

.icon-comp_white_ramka { background-image: url('png/comp_white_ramka.png'); background-repeat: no-repeat; }

.icon-cross_red { background-image: url('png/cross_red.png'); background-repeat: no-repeat; }

.icon-cross_white { background-image: url('png/cross_white.png'); background-repeat: no-repeat; }

.icon-crowd_white_ramka { background-image: url('png/crowd_white_ramka.png'); background-repeat: no-repeat; }

.icon-doc-01_gray { background-image: url('png/doc-01_gray.png'); background-repeat: no-repeat; }

.icon-download-print { background-image: url('png/download-print.png'); background-repeat: no-repeat; }

.icon-email { background-image: url('png/email.png'); background-repeat: no-repeat; }

.icon-envelope_small_gray { background-image: url('png/envelope_small_gray.png'); background-repeat: no-repeat; }

.icon-event-age-limit { background-image: url('png/event-age-limit.png'); background-repeat: no-repeat; }

.icon-event-calendar { background-image: url('png/event-calendar.png'); background-repeat: no-repeat; }

.icon-event-coins { background-image: url('png/event-coins.png'); background-repeat: no-repeat; }

.icon-event-place-point { background-image: url('png/event-place-point.png'); background-repeat: no-repeat; }

.icon-event-point { background-image: url('png/event-point.png'); background-repeat: no-repeat; }

.icon-exclamation { background-image: url('png/exclamation.png'); background-repeat: no-repeat; }

.icon-eye_grey { background-image: url('png/eye_grey.png'); background-repeat: no-repeat; }

.icon-facebook { background-image: url('png/facebook.png'); background-repeat: no-repeat; }

.icon-facebook_gray { background-image: url('png/facebook_gray.png'); background-repeat: no-repeat; }

.icon-fastforward_grey { background-image: url('png/fastforward_grey.png'); background-repeat: no-repeat; }

.icon-fax { background-image: url('png/fax.png'); background-repeat: no-repeat; }

.icon-folder { background-image: url('png/folder.png'); background-repeat: no-repeat; }

.icon-gerb { background-image: url('png/gerb.png'); background-repeat: no-repeat; }

.icon-glasses_black { background-image: url('png/glasses_black.png'); background-repeat: no-repeat; }

.icon-glasses_white { background-image: url('png/glasses_white.png'); background-repeat: no-repeat; }

.icon-gorog_white_services { background-image: url('png/gorog_white_services.png'); background-repeat: no-repeat; }

.icon-gplay { background-image: url('png/gplay.png'); background-repeat: no-repeat; }

.icon-gwindows { background-image: url('png/gwindows.png'); background-repeat: no-repeat; }

.icon-ico_mfc_black { background-image: url('png/ico_mfc_black.png'); background-repeat: no-repeat; }

.icon-ico_ok { background-image: url('png/ico_ok.png'); background-repeat: no-repeat; }

.icon-ico_ok_grey { background-image: url('png/ico_ok_grey.png'); background-repeat: no-repeat; }

.icon-ico_share { background-image: url('png/ico_share.png'); background-repeat: no-repeat; }

.icon-infographic-white-red { background-image: url('png/infographic-white-red.png'); background-repeat: no-repeat; }

.icon-instagram { background-image: url('png/instagram.png'); background-repeat: no-repeat; }

.icon-instagram_black { background-image: url('png/instagram_black.png'); background-repeat: no-repeat; }

.icon-instagram_grey { background-image: url('png/instagram_grey.png'); background-repeat: no-repeat; }

.icon-interview_black { background-image: url('png/interview_black.png'); background-repeat: no-repeat; }

.icon-lamp_white { background-image: url('png/lamp_white.png'); background-repeat: no-repeat; }

.icon-lense_black { background-image: url('png/lense_black.png'); background-repeat: no-repeat; }

.icon-lense_black_02 { background-image: url('png/lense_black_02.png'); background-repeat: no-repeat; }

.icon-lense_white { background-image: url('png/lense_white.png'); background-repeat: no-repeat; }

.icon-lightning-white { background-image: url('png/lightning-white.png'); background-repeat: no-repeat; }

.icon-lightning { background-image: url('png/lightning.png'); background-repeat: no-repeat; }

.icon-location { background-image: url('png/location.png'); background-repeat: no-repeat; }

.icon-logo_active_citizen_gray { background-image: url('png/logo_active_citizen_gray.png'); background-repeat: no-repeat; }

.icon-logo_active_citizen_white { background-image: url('png/logo_active_citizen_white.png'); background-repeat: no-repeat; }

.icon-logo_arms_red { background-image: url('png/logo_arms_red.png'); background-repeat: no-repeat; }

.icon-logo_free_places_white { background-image: url('png/logo_free_places_white.png'); background-repeat: no-repeat; }

.icon-logo_my_city_white { background-image: url('png/logo_my_city_white.png'); background-repeat: no-repeat; }

.icon-logo_parking_gray { background-image: url('png/logo_parking_gray.png'); background-repeat: no-repeat; }

.icon-logo_parking_white { background-image: url('png/logo_parking_white.png'); background-repeat: no-repeat; }

.icon-logo_pay_mobile_white { background-image: url('png/logo_pay_mobile_white.png'); background-repeat: no-repeat; }

.icon-logo_placemark_white { background-image: url('png/logo_placemark_white.png'); background-repeat: no-repeat; }

.icon-logo_timer_white { background-image: url('png/logo_timer_white.png'); background-repeat: no-repeat; }

.icon-logo_users_white { background-image: url('png/logo_users_white.png'); background-repeat: no-repeat; }

.icon-logo_votes_white { background-image: url('png/logo_votes_white.png'); background-repeat: no-repeat; }

.icon-logo_webcam_black { background-image: url('png/logo_webcam_black.png'); background-repeat: no-repeat; }

.icon-mail_black { background-image: url('png/mail_black.png'); background-repeat: no-repeat; }

.icon-mail_red { background-image: url('png/mail_red.png'); background-repeat: no-repeat; }

.icon-md_white_ramka { background-image: url('png/md_white_ramka.png'); background-repeat: no-repeat; }

.icon-media-audio { background-image: url('png/media-audio.png'); background-repeat: no-repeat; }

.icon-media-camera { background-image: url('png/media-camera.png'); background-repeat: no-repeat; }

.icon-media-infographic { background-image: url('png/media-infographic.png'); background-repeat: no-repeat; }

.icon-media-play { background-image: url('png/media-play.png'); background-repeat: no-repeat; }

.icon-media-presentation { background-image: url('png/media-presentation.png'); background-repeat: no-repeat; }

.icon-mess { background-image: url('png/mess.png'); background-repeat: no-repeat; }

.icon-metro { background-image: url('png/metro.png'); background-repeat: no-repeat; }

.icon-monitor_gray { background-image: url('png/monitor_gray.png'); background-repeat: no-repeat; }

.icon-mute { background-image: url('png/mute.png'); background-repeat: no-repeat; }

.icon-mute_grey { background-image: url('png/mute_grey.png'); background-repeat: no-repeat; }

.icon-newyear_white { background-image: url('png/newyear_white.png'); background-repeat: no-repeat; }

.icon-ny { background-image: url('png/ny.png'); background-repeat: no-repeat; }

.icon-ok_green { background-image: url('png/ok_green.png'); background-repeat: no-repeat; }

.icon-pause_black { background-image: url('png/pause_black.png'); background-repeat: no-repeat; }

.icon-pause_grey { background-image: url('png/pause_grey.png'); background-repeat: no-repeat; }

.icon-pen_black { background-image: url('png/pen_black.png'); background-repeat: no-repeat; }

.icon-pgu_white_services { background-image: url('png/pgu_white_services.png'); background-repeat: no-repeat; }

.icon-phone-fill { background-image: url('png/phone-fill.png'); background-repeat: no-repeat; }

.icon-phone-fill_white { background-image: url('png/phone-fill_white.png'); background-repeat: no-repeat; }

.icon-phone { background-image: url('png/phone.png'); background-repeat: no-repeat; }

.icon-phone_black { background-image: url('png/phone_black.png'); background-repeat: no-repeat; }

.icon-phone_gray { background-image: url('png/phone_gray.png'); background-repeat: no-repeat; }

.icon-phone_red { background-image: url('png/phone_red.png'); background-repeat: no-repeat; }

.icon-placemark-02-black { background-image: url('png/placemark-02-black.png'); background-repeat: no-repeat; }

.icon-placemark_black { background-image: url('png/placemark_black.png'); background-repeat: no-repeat; }

.icon-placemark_grey { background-image: url('png/placemark_grey.png'); background-repeat: no-repeat; }

.icon-placemark_red { background-image: url('png/placemark_red.png'); background-repeat: no-repeat; }

.icon-placemark_white { background-image: url('png/placemark_white.png'); background-repeat: no-repeat; }

.icon-play-white-red { background-image: url('png/play-white-red.png'); background-repeat: no-repeat; }

.icon-play { background-image: url('png/play.png'); background-repeat: no-repeat; }

.icon-play_black { background-image: url('png/play_black.png'); background-repeat: no-repeat; }

.icon-play_grey { background-image: url('png/play_grey.png'); background-repeat: no-repeat; }

.icon-plus_black { background-image: url('png/plus_black.png'); background-repeat: no-repeat; }

.icon-point-webcam { background-image: url('png/point-webcam.png'); background-repeat: no-repeat; }

.icon-presentation-white-red { background-image: url('png/presentation-white-red.png'); background-repeat: no-repeat; }

.icon-print_blue { background-image: url('png/print_blue.png'); background-repeat: no-repeat; }

.icon-print_white { background-image: url('png/print_white.png'); background-repeat: no-repeat; }

.icon-promo-close_white { background-image: url('png/promo-close_white.png'); background-repeat: no-repeat; }

.icon-q_black { background-image: url('png/q_black.png'); background-repeat: no-repeat; }

.icon-q_white { background-image: url('png/q_white.png'); background-repeat: no-repeat; }

.icon-refresh_grey { background-image: url('png/refresh_grey.png'); background-repeat: no-repeat; }

.icon-remont { background-image: url('png/remont.png'); background-repeat: no-repeat; }

.icon-rewind_grey { background-image: url('png/rewind_grey.png'); background-repeat: no-repeat; }

.icon-rub_black { background-image: url('png/rub_black.png'); background-repeat: no-repeat; }

.icon-rub_black_thin { background-image: url('png/rub_black_thin.png'); background-repeat: no-repeat; }

.icon-rub_white { background-image: url('png/rub_white.png'); background-repeat: no-repeat; }

.icon-save_blue { background-image: url('png/save_blue.png'); background-repeat: no-repeat; }

.icon-save_white { background-image: url('png/save_white.png'); background-repeat: no-repeat; }

.icon-service { background-image: url('png/service.png'); background-repeat: no-repeat; }

.icon-service_white { background-image: url('png/service_white.png'); background-repeat: no-repeat; }

.icon-share-facebook { background-image: url('png/share-facebook.png'); background-repeat: no-repeat; }

.icon-share-facebook_grey { background-image: url('png/share-facebook_grey.png'); background-repeat: no-repeat; }

.icon-share-googleplus { background-image: url('png/share-googleplus.png'); background-repeat: no-repeat; }

.icon-share-instagram { background-image: url('png/share-instagram.png'); background-repeat: no-repeat; }

.icon-share-ok { background-image: url('png/share-ok.png'); background-repeat: no-repeat; }

.icon-share-rss-blue { background-image: url('png/share-rss-blue.png'); background-repeat: no-repeat; }

.icon-share-rss { background-image: url('png/share-rss.png'); background-repeat: no-repeat; }

.icon-share-rss_grey { background-image: url('png/share-rss_grey.png'); background-repeat: no-repeat; }

.icon-share-twitter { background-image: url('png/share-twitter.png'); background-repeat: no-repeat; }

.icon-share-vk { background-image: url('png/share-vk.png'); background-repeat: no-repeat; }

.icon-share_blue { background-image: url('png/share_blue.png'); background-repeat: no-repeat; }

.icon-share_white { background-image: url('png/share_white.png'); background-repeat: no-repeat; }

.icon-shield_question-black { background-image: url('png/shield_question-black.png'); background-repeat: no-repeat; }

.icon-shield_question-white { background-image: url('png/shield_question-white.png'); background-repeat: no-repeat; }

.icon-shield_red { background-image: url('png/shield_red.png'); background-repeat: no-repeat; }

.icon-signature_gray { background-image: url('png/signature_gray.png'); background-repeat: no-repeat; }

.icon-star_grey { background-image: url('png/star_grey.png'); background-repeat: no-repeat; }

.icon-telegram { background-image: url('png/telegram.png'); background-repeat: no-repeat; }

.icon-tools { background-image: url('png/tools.png'); background-repeat: no-repeat; }

.icon-traffic_05 { background-image: url('png/traffic_05.png'); background-repeat: no-repeat; }

.icon-traffic_white { background-image: url('png/traffic_white.png'); background-repeat: no-repeat; }

.icon-tree { background-image: url('png/tree.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

.icon-twitter_gray { background-image: url('png/twitter_gray.png'); background-repeat: no-repeat; }

.icon-twitter_white { background-image: url('png/twitter_white.png'); background-repeat: no-repeat; }

.icon-unmute { background-image: url('png/unmute.png'); background-repeat: no-repeat; }

.icon-unmute_grey { background-image: url('png/unmute_grey.png'); background-repeat: no-repeat; }

.icon-update { background-image: url('png/update.png'); background-repeat: no-repeat; }

.icon-velo { background-image: url('png/velo.png'); background-repeat: no-repeat; }

.icon-vk { background-image: url('png/vk.png'); background-repeat: no-repeat; }

.icon-vk_grey { background-image: url('png/vk_grey.png'); background-repeat: no-repeat; }

.icon-vk_white { background-image: url('png/vk_white.png'); background-repeat: no-repeat; }

.icon-watch-scheme { background-image: url('png/watch-scheme.png'); background-repeat: no-repeat; }

.icon-weather_01 { background-image: url('png/weather_01.png'); background-repeat: no-repeat; }

.icon-weather_01_snow { background-image: url('png/weather_01_snow.png'); background-repeat: no-repeat; }

.icon-weather_white { background-image: url('png/weather_white.png'); background-repeat: no-repeat; }

.icon-weather_white_snow { background-image: url('png/weather_white_snow.png'); background-repeat: no-repeat; }

.icon-web { background-image: url('png/web.png'); background-repeat: no-repeat; }

.icon-webcam_gray { background-image: url('png/webcam_gray.png'); background-repeat: no-repeat; }

.icon-wifi { background-image: url('png/wifi.png'); background-repeat: no-repeat; }

.icon-windows { background-image: url('png/windows.png'); background-repeat: no-repeat; }

