.b-iconic-btn {
	display: block;
	position: relative;
	padding: 0 0 0 48px;
	margin: 0 0 30px;
	color: $c-blue;
	min-height: 35px;
	font-size: 15px;
	line-height: 1.4;
	cursor: pointer;
	white-space: nowrap;

	// Use <i> for icon
	i {
		float: left;
		position: relative;
		margin: 1px -100% 0 0;
		left: -48px;
	}

	.icon-save_blue {
		width: 26px; height: 33px;
		background-size: 100% 100%;
		left: -46px;
	}
	.icon-share_blue {
		width: 30px; height: 30px;
		background-size: 100% 100%;
	}
	.icon-print_blue {
		width: 30px; height: 30px;
		background-size: 100% 100%;
	}


	&__text {
		display: inline-block;
		vertical-align: middle;
		margin-top: -2px;
		white-space: normal;
	}

	// To make vertical align
	&:after {
		content: '';
		display: inline-block;
		vertical-align: middle;
		height: 35px;
		width: 0;
	}

	&:hover {
		color: $c-blue-dark;
		text-decoration: none;
	}
}

.b-iconic-btn-list {
}


// Hotfix for press columns
.b-press-article__sidebar {
	.b-iconic-btn-list {
		margin: 0 30px 0 60px;
	}
}

@media (min-width: 992px) {
	.b-press-article__sidebar {
		.b-iconic-btn-list {
			margin: 20px 30px 0 50px;
		}
	}
}




.contrast {
	.b-iconic-btn {
		color: $c-black;
		font-size: 19px;
		line-height: 26px;

		.icon-save_blue {
			background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226.5%22%20height%3D%2233.552%22%20viewBox%3D%220%200%2026.5%2033.552%22%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23000%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M12.288%2011.97v10.895m2.565-2.502l-2.666%202.667-2.784-2.782%22%2F%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23000%22%20stroke-width%3D%221.5%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M25.75%208.442V31.2c0%20.708-.574%201.602-1.282%201.602H2.03c-.707%200-1.28-.894-1.28-1.603V1.71c0-.707.573-.96%201.28-.96h15.065l8.655%207.69zm-.24.642h-7.118c-1.18%200-1.617-.7-1.617-1.88v-6.01M2.03.75l15.092.023%208.653%207.694%22%2F%3E%3C%2Fsvg%3E")
		}
		.icon-share_blue {
			background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2230%22%20height%3D%2230%22%20viewBox%3D%220%200%2030%2030%22%3E%3Cpath%20fill%3D%22%23000%22%20d%3D%22M24.573%2019.148c-1.892%200-3.56.974-4.53%202.446l-9.517-4.758c.207-.574.326-1.19.326-1.837s-.12-1.27-.326-1.84l9.517-4.76c.973%201.47%202.64%202.44%204.53%202.44C27.565%2010.85%2030%208.41%2030%205.42%2030%202.437%2027.565%200%2024.573%200s-5.427%202.436-5.427%205.427c0%20.645.12%201.26.327%201.834l-9.52%204.76c-.97-1.47-2.637-2.44-4.527-2.44C2.436%209.58%200%2012.01%200%2015c0%202.992%202.435%205.427%205.427%205.427%201.89%200%203.558-.975%204.528-2.445l9.52%204.758c-.208.574-.328%201.19-.328%201.835%200%202.992%202.435%205.426%205.427%205.426S30%2027.57%2030%2024.58s-2.435-5.427-5.427-5.427m0-17.87c2.287%200%204.147%201.86%204.147%204.148s-1.86%204.15-4.147%204.15-4.147-1.86-4.147-4.14%201.86-4.14%204.147-4.14M5.427%2019.15c-2.287%200-4.148-1.86-4.148-4.148%200-2.29%201.86-4.15%204.14-4.15%202.28%200%204.14%201.86%204.14%204.145%200%202.286-1.86%204.147-4.15%204.147m19.15%209.576c-2.29%200-4.15-1.86-4.15-4.148s1.86-4.147%204.14-4.147%204.15%201.86%204.15%204.147c0%202.286-1.86%204.147-4.15%204.147%22%2F%3E%3C%2Fsvg%3E");
		}
		.icon-print_blue {
			background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2230%22%20height%3D%2230.828%22%20viewBox%3D%220%200%2030%2030.828%22%3E%3Cpath%20fill%3D%22%23000%22%20d%3D%22M26.68%2011.027H3.32c-1.838%200-3.32%201.482-3.32%203.32v7.114c0%201.84%201.482%203.32%203.32%203.32h4.09V23.6H3.32c-1.186%200-2.135-.948-2.135-2.134V14.35c0-1.187.95-2.135%202.135-2.135h23.358c1.186%200%202.134.948%202.134%202.134v7.11c0%201.18-.948%202.13-2.134%202.13h-3.794v1.18h3.794c1.838%200%203.32-1.48%203.32-3.32v-7.11c.06-1.84-1.48-3.32-3.32-3.32%22%2F%3E%3Cpath%20fill%3D%22%23000%22%20d%3D%22M24.07%2012.213H6.225V0H24.07v12.213zM7.41%2011.027h15.475v-9.84H7.41v9.84zm-1.185%2019.8H24.07v-12.21H6.225V30.83zm16.66-1.184H7.41v-9.84h15.474v9.84zm-13.28-7.826h11.322v.89H9.604zm0%202.55h11.322v.89H9.604zm0%202.49h5.69v.89h-5.69z%22%2F%3E%3C%2Fsvg%3E");
		}

		&:hover {
			color: $c-black;
			text-decoration: underline;
		}
	}

}


// мобильная версия

html.phone {
	body {
		& .b-iconic-btn {
			padding-left: 38px;
			& .icon-save_blue {
				left: -36px;
				width: 22px;
				height: 28px;
				background-size: 100% 100%;
			}
		}
	}
}
