
div.row.b-search-results__extra
	
	div.col-xs-12.col-md-8.b-search-results__extra-main
		div.b-search-results__extra-person
			div.clearfix
				div.b-search-results__person-image
					img(src="images/Penkovasmall.jpg")
				div.b-search-results__person-details
					h3.b-search-results__person-name
						| Пенькова Гульнара Валерьевна
					p.b-search-results__person-post
						| Пресс-секретарь Мэра Москвы — руководитель Пресс-службы Мэра и Правительства Москвы
					p.b-search-results__person-bio
						| Родилась в городе Москве
			div.b-search-results__person-buttons
				div.b-search-results__person-more
					a.butt-red(href="department_person.html")
						span.butt-text Подробнее
				//- div.b-search-results__person-mess
				//- 	a.butt_gray-lite(href="#")
				//- 		span.butt-text Написать в администрацию

	div.col-xs-12.col-md-4.b-search-results__extra-side
		a.b-search-side__link(href="department.html")
			span.b-search-results__extra-wrapper
				span.b-search-side__link-img
					img(src="images/coat_of_arms_large.svg")
				span.b-search-side__link-text
					span.title Структура правительства Москвы
					span.url mos.ru
					span.preview Посмотрите подробную структуру правительства Москвы

