block vars
	- var globalCdnPath = "/static"; // Путь к глобальным ресурсам(CDN)
	- var localPath = "/front/markup/feedback/static"; // Путь к локальным ресурсам
	- var globaPath = "/static"; // Путь к ресурсам маркапа
